*{
    margin: 0;
    padding: 0;
}

#search-section{
    width: 90%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

#search {
    width: 85%;
    height: 20px !important;
    padding: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#table{
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

td, th{
    padding: 20px;
    border: 1px solid #000000;
}

#sort-bar{
    width: 90%;
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    margin: 20px 0;
}

.btn{
    width: 120px;
    height: 40px;
    font-size: 14px;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
}

#name{
    height: 40px;
    display: flex;
    align-items: center;
}